* {
    font-family: "monaco";
    color: MediumPurple;
    z-index: 0
}

body {
    background-color: black;
}

input {
    background-color: navy;
}
button {
    background-color: blue;
}

.dropdown {
    display: inline;
    position: relative;
}
.dropdown-content {
    visibility: hidden;
    display: inline;
    z-index: 1
    min-width: 160px;
}
.dropdown:hover .dropdown-content {
    visibility: visible;
    position: relative;
}
.dropdown-content button {
    background-color: darkslateblue;
    color: darkgray;
}
.dropdown-content button:hover {
    background-color: darkgray;
    color: darkslateblue;
}
.dropdown-content .selected button {
    background-color: midnightblue;
    color: silver;
}
.dropdown-content .selected button:hover {
    background-color: silver;
    color: midnightblue;
}
