* {
    font-family: "monaco";
    color: MediumPurple;
    z-index: 0
}

body {
    background-color: black;
}

input {
    background-color: navy;
}
button {
    background-color: blue;
}

.dropdown {
    display: inline-block
    position: relative;
}
.dropdown-content {
    display: none;
    z-index: 1
}
.dropdown:hover .dropdown-content {
    display: inline-block;
    position: absolute;
    min-width: 160px;
    z-index: 1
}
.dropdown-content div {
    display: inline-block;
}
.dropdown-content button {
    display: inline-block;
    background-color: darkslateblue;
    color: darkgray;
}
.dropdown-content button:hover {
    display: inline-block;
    background-color: darkgray;
    color: darkslateblue;
    z-index: 1
}
.dropdown-content .selected button {
    display: inline-block;
    background-color: midnightblue;
    color: silver;
}
.dropdown-content .selected button:hover {
    display: inline-block;
    background-color: silver;
    color: midnightblue;
    z-index: 1
}
